apiVersion: v1
kind: ServiceAccount
metadata:
  name: vault-sa
  namespace: practical-work-3
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: vault-role
rules:
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["get", "watch", "list"]
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "watch", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: vault-role-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: vault-role
subjects:
- kind: ServiceAccount
  name: vault-sa
  namespace: practical-work-3
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: vault-config
  namespace: practical-work-3
data:
  vault.hcl: |
    ui = true

    storage "kubernetes" {
      secret_suffix = "vault-keys"
    }

    listener "tcp" {
      address     = "0.0.0.0:8200"
      tls_disable = true
    }
    api_addr = "http://0.0.0.0:8200"
    cluster_addr = "http://0.0.0.0:8201"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: vault
  namespace: practical-work-3
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vault
  template:
    metadata:
      labels:
        app: vault
    spec:
      serviceAccountName: vault-sa
      containers:
      - name: vault
        image: k8s-master-01:5000/vault:1.19.3
        env:
        - name: VAULT_ADDR
          value: "http://0.0.0.0:8200"
        - name: VAULT_API_ADDR
          value: "http://$(POD_IP):8200"
        - name: POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        ports:
        - containerPort: 8200
        volumeMounts:
        - name: config
          mountPath: /vault/config
        - name: data
          mountPath: /vault/data
      volumes:
      - name: config
        configMap:
          name: vault-config
      - name: data
        emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: vault
  namespace: practical-work-3
spec:
  type: ClusterIP
  ports:
  - port: 8200
    targetPort: 8200
    name: http
  selector:
    app: vault
---
apiVersion: v1
kind: Service
metadata:
  name: vault-ui
  namespace: practical-work-3
spec:
  type: NodePort
  ports:
  - port: 8200
    targetPort: 8200
    nodePort: 30000
  selector:
    app: vault
