name: CI

on:
  push:
  pull_request:

jobs:
  test-and-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Django tests
        run: |
          TEST_USE_SQLITE=true python manage.py test

      - name: Helm lint
        uses: azure/setup-helm@v4
        with:
          version: v3.15.2
      - run: |
          helm lint helm/django-app
          helm lint helm/monitoring

  docker-build:
    runs-on: ubuntu-latest
    needs: test-and-lint
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Django image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          push: false
          tags: django-kubernetes-app:ci

      - name: Build Vault custom image
        uses: docker/build-push-action@v6
        with:
          context: ./vault
          file: ./vault/Dockerfile
          push: false
          tags: vault-custom:ci

