name: Deploy to Kubernetes

on:
  push:
    branches: [ master ]

env:
  IMAGE_NAME: django-app
  REGISTRY: k8s-master-01:5000
  K8S_NAMESPACE: practical-work-3

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set lowercase repository owner
        id: lowercase
        run: |
          OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          echo "owner=$OWNER" >> $GITHUB_OUTPUT

      - name: Log in to local Docker Registry
        run: |
          echo "No login required for insecure registry"

      - name: Build and push Django app
        run: |
          docker build -t ${{ env.REGISTRY }}/${{ steps.lowercase.outputs.owner }}/${{ env.IMAGE_NAME }}:latest ./django-app
          docker push ${{ env.REGISTRY }}/${{ steps.lowercase.outputs.owner }}/${{ env.IMAGE_NAME }}:latest

      - name: Build and push Vault image
        run: |
          docker build -t ${{ env.REGISTRY }}/${{ steps.lowercase.outputs.owner }}/vault:1.19.3 ./vault
          docker push ${{ env.REGISTRY }}/${{ steps.lowercase.outputs.owner }}/vault:1.19.3

      - name: Install kubectl
        run: |
          curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
          chmod +x kubectl
          sudo mv kubectl /usr/local/bin/
          kubectl version --client

      - name: Deploy to Kubernetes
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBE_CONFIG }}" > ~/.kube/config
          kubectl apply -f k8s/ -n ${{ env.K8S_NAMESPACE }}
