name: Deploy to Kubernetes

on:
  push:
    branches: [ master ]

env:
  IMAGE_NAME: django-app
  REGISTRY: ghcr.io
  K8S_NAMESPACE: practical-work-3

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set lowercase repository owner
        id: lowercase
        run: |
          OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          echo "owner=$OWNER" >> $GITHUB_OUTPUT

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Django app
        uses: docker/build-push-action@v5
        with:
          context: ./django-app
          push: true
          tags: ghcr.io/${{ steps.lowercase.outputs.owner }}/${{ env.IMAGE_NAME }}:latest

      - name: Build and push Vault image
        uses: docker/build-push-action@v5
        with:
          context: ./vault
          push: true
          tags: ghcr.io/${{ steps.lowercase.outputs.owner }}/vault:1.19.3

      - name: Install kubectl
        run: |
          sudo mkdir -p /etc/apt/keyrings
          curl -fsSL https://pkgs.k8s.io/core:/stable:/v1.28/deb/Release.key | sudo gpg --dearmor -o /etc/apt/keyrings/kubernetes-apt-keyring.gpg
          echo 'deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/v1.28/deb/ /' | sudo tee /etc/apt/sources.list.d/kubernetes.list
          sudo apt-get update
          sudo apt-get install -y kubectl

      - name: Deploy to Kubernetes
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBE_CONFIG }}" > ~/.kube/config
          kubectl apply -f k8s/ -n ${{ env.K8S_NAMESPACE }}
